@import "../../resources/styles/vars";

.addToWhitelistCard {
  & > h2 {
    margin-bottom: $space;
  }

  & > form {
    width: 100%;
    overflow: scroll;
    padding-bottom: 1rem;

    & > table {
      width: 100%;
    }
  }
}

.addToWhitelistRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;

  & > :last-child {
    flex: 1;
    margin-left: 0.5rem;
  }
}

