@import "../../resources/styles/vars";

.createClientRow {
  margin-top: $space;
  width: 100%;
  max-width: 300px;
}

.scopesContainer {
  margin-top: $space;
  max-width: 300px;
  width: 100%;
  border-radius: $border-radius;
}

.scopesList {
  list-style: none;
}
