@import "../../resources/styles/vars";

.oauthClient {
  margin-top: $space-big;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
}

.createClientLink {
  margin-top: 1rem;
  color: $primary-color;
}