@font-face {
  font-family: "Arvo";
  src: url(../fonts/arvo/Arvo-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Arvo";
  src: url(../fonts/arvo/Arvo-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Arvo";
  src: url(../fonts/arvo/Arvo-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Arvo";
  src: url(../fonts/arvo/Arvo-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
