$font: MavenPro, -apple-system, -system-ui;
$secondary-font: Arvo, -apple-system, -system-ui;

$primary-color: #500070;
$secondary-color: white;

$gray-color: lightgray;

$primary-font-color: white;
$secondary-font-color: black;

$border-color: rgba(0, 0, 0, 0.3);
