<!DOCTYPE html>
<html lang="en">

<head>
    <title>Account activation</title>
    <link rel="stylesheet" type="text/css" href="/api/public/styles.css" media="screen" />
</head>

<body>
    <div class="login-wrapper">
        <div class="card">
            <h3>
                Account activation
            </h3>
            {{#if error}}
            <p class="error-message">{{error}}</p>
            {{/if}}
            {{#if info}}
            <p>{{info}}</p>
            {{/if}}
            <a class="link-button" href="/api/login">Login</a>
        </div>
    </div>
</body>

</html>