<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin view</title>
    <link rel="stylesheet" type="text/css" href="/api/public/styles.css" media="screen" />
</head>

<body>
    <div>
        <h1>
            Admin view
        </h1>
        Welcome admin {{name}}
    </div>
</body>

</html>