<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/api/public/styles.css" media="screen" />
</head>

<body>
    <div class="login-wrapper">
        <form class="card form" id="forgot-password-form" method="POST" action="/api/core/forgot_password">
            <h3>
                Forgot password
            </h3>
            <div class="form-row">
                <label for="email">Email Address: </label>
                <input type="text" form="forgot-password-form" id="email" maxlength="60" placeholder="email"
                    required="required" autocapitalize="none" autocomplete="email" name="email" value={{email}}>
            </div>
            {{#if error}}
            <p class="error-message">{{error}}</p>
            {{/if}}
            <input type="submit" form="forgot-password-form" id="submit" value="Reset password" />
        </form>
    </div>
</body>

</html>