<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/api/public/styles.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/api/public/login_styles.css" media="screen" />
</head>

<body>
    <div class="login-wrapper">
        <div class="card">
            <form class="form" id="login-form" method="POST" action="/api/core/login">
                <h3>
                    Login to AccountsRS!
                </h3>
                <div class="form-row">
                    <label for="email">Email: </label>
                    <input type="email" form="login-form" id="email" maxlength="60" placeholder="email"
                        required="required" autocapitalize="none" autocomplete="email" name="email" value={{email}}>
                </div>
                <div class="form-row">
                    <label for="password">Password: </label>
                    <div class="password-col">
                        <input type="password" form="login-form" id="password" maxlength={{max_password_len}}
                            minlength={{min_password_len}} placeholder="password" required="required" name="password"
                            autocomplete="current-password" />

                        <a class="forgot-password" href="/api/core/forgot_password">Forgot password?</a>
                    </div>
                </div>
    
                {{#if error}}
                <p class="error-message">{{error}}</p>
                {{/if}}

                <div class="form-row spaced-row">
                    <a href="/api/core/create_account" class="button">Create account</a>
                    <input class="button" type="submit" form="login-form" id="submit" value="Login" />
                </div>
            </form>

        </div>
    </div>
</body>
</html>
